<%- include ../_base/head.mobile.ejs %>
<%- include ../_base/css.foundation.ejs %>
<body>
<div class="ap-container">
    <div class="container-header">

    </div>
    <div class="container-context">
        <form>
            <div class="row">
                <div class="medium-6 columns">
                    <label>姓名
                        <input type="text" placeholder="麻烦您告诉我您的名字">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Input Label
                        <input type="text" placeholder=".medium-6.columns">
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<%- include ../_base/js.foundation.ejs %>