@import "reset.sky91";
@import "lib.sky91";

.app-header {
  .container {
    .navbar-header {
      .navbar-brand {
        padding: 8px;
        img {
          display: inline-block;
          width: 35px;
        }
        span {
          display: inline-block;
        }
      }
    }
    .navbar-title {
      color: #f0f0f0;
      padding-top: 6px;
      padding-left: 4em;
      font-size: 23px;
    }
  }
}

.app-context {
  margin-top: 51px;
  .container {
    h1 {
      small {
        float: right;
        font-size: 18px;
        padding-top: 10px;
      }
    }
  }
}

.app-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  color: #767676;
  border-top: 1px solid #e5e5e5;
}

@mixin icon-x($iu) {
  line-height: 34px;
  display: inline-block;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-image: url($iu);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 34px 34px;
}

// git的icon
.icon-git {
  @include icon-x('/image/icon/github.png');
  &:hover {
    background-image: url('/image/icon/github_hover.png');
  }
}