<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <!--todo seo优化 -->
    <meta name="renderer" content="webkit"><%#360浏览器使用极速模式%>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"><%#编码方式使用utf-8%>