<div class="col-lg-2">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h5 class="mg-0">Demo列表</h5>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="/demo/virtual_dom/index.html">虚拟Dom的简单实现</a></li>
            </ul>
        </div>
    </div>
</div>